.List {
    z-index: 100;
    width: 20%;
    select {background: #3949AB; color: #dcdcdc; border: none; padding: 10px; margin-bottom: 20px;}
    label{width: 100%; display: block; color:#dcdcdc;}
    input{width: 100%; height: 30px; border:none; background: rgba($color: #fff, $alpha: 0.3); color: #3949AB; font-weight: 700;}
    button{width: 100px; height: 50px; border:none; background: #3949AB; color:#dcdcdc; margin-top: 30px; border-radius: 10px;} 
}